<script setup>

    import { ref, onMounted } from 'vue'
    import { get, post } from 'axios'

    
    var get_result = ref(`waiting for get results from ` + import.meta.env.VITE_BACK_URL);
    var post_result = ref(`waiting for post results from ` + import.meta.env.VITE_BACK_URL);
    

    onMounted(() => {
        getResult()
        postResult()
    })

    function getResult () {
        get(import.meta.env.VITE_BACK_URL + '/method', { withCredentials: true })
        .then(response => {                    
            get_result.value = response.data                    
        })
    }
    
    function postResult () {
        post(import.meta.env.VITE_BACK_URL + '/method', { withCredentials: true })
        .then(response => {                    
            post_result.value = response.data                    
        })
    }

</script>

<template>

    <p>{{ get_result }}</p>
    <p>{{ post_result }}</p>

</template>

<style scoped>

</style>
